$font: "Outfit", sans-serif;
$body: #54cbca;
$primary: #333333;
$secondary: #fffacd;
$text: #333333;
$text-hover: #ff4c60;

// @Breakpoints
$sm: 36;
$md: 76.8;
$lg: 102.4;
$xl: 140;

$gutter: 1;
$duration: 300ms;

$small-shadow: 2px 2px 0px 0px $primary;
